.Header input {
    border: 0;
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
}

.FilterPills {
    padding: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.FilterPills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.FilterPills ul li {
    cursor: pointer;
    display: inline-flex;
    padding: 0.4rem 0.7rem;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 1rem;
}
.FilterPills ul li.active {
    background: #fafafa;
    border: 1px solid black;
}
