.ListingList {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.ListingItem {
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    background-repeat: no-repeat;    
    background-size: contain;
    background-position: center;
}

.ListingItem > div:first-child {
    flex: 1 0 0;
}

.ListingItem > div:last-child {
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    border-left: 1px solid #000;
}

.ListingItem > div:last-child > p:first-child {
    font-size: 0.9rem;
}

.ListingItem > div:last-child > p:last-child {
    margin-top: 0.2rem;
    font-size: 1.3rem;
}

.ListingItem p{
    margin: 0;
}

.ListingItemNotFound {
    text-align: center;

}

.ListingItem.atletismo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/atletismo.svg);}
.ListingItem.badminton {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/badminton.svg);}
.ListingItem.basquete_3x3 {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/basquete_3x3.svg);}
.ListingItem.basquete {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/basquete.svg);}
.ListingItem.boxe {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/boxe.svg);}
.ListingItem.breaking {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/breaking.svg);}
.ListingItem.canoagemslalom {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/canoagem_slalom.svg);}
.ListingItem.canoagemvelocidade {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/canoagem_velocidade.svg);}
.ListingItem.ciclismobmxfreestyle {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ciclismo_bmx_freestyle.svg);}
.ListingItem.ciclismobmxracing {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ciclismo_bmx_racing.svg);}
.ListingItem.ciclismodepista {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ciclismo_de_pista.svg);}
.ListingItem.ciclismomountainbike {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ciclismo_mountain_bike.svg);}
.ListingItem.escaladaesportiva {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/escalada_esportiva.svg);}
.ListingItem.esgrima {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/esgrima.svg);}
.ListingItem.futebol {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/futebol.svg);}
.ListingItem.ginasticaartistica {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ginastica_artistica.svg);}
.ListingItem.ginasticadetrampolim {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ginastica_de_trampolim.svg);}
.ListingItem.ginasticaritmica {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/ginastica_ritmica.svg);}
.ListingItem.golf {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/golf.svg);}
.ListingItem.hipismo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/hipismo.svg);}
.ListingItem.hoqueisobregrama {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/hoquei_sobre_grama.svg);}
.ListingItem.judo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/judo.svg);}
.ListingItem.levantamentodepeso {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/levantamento_de_peso.svg);}
.ListingItem.luta {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/luta.svg);}
.ListingItem.maratonaaquatica {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/maratona_aquatica.svg);}
.ListingItem.nadoartistico {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/nado_artistico.svg);}
.ListingItem.natacao {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/natacao.svg);}
.ListingItem.pentatlomoderno {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/pentatlo_moderno.svg);}
.ListingItem.poloaquatico {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/polo_aquatico.svg);}
.ListingItem.remo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/remo.svg);}
.ListingItem.rugbysevens {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/rugby_sevens.svg);}
.ListingItem.saltosornamentais {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/saltos_ornamentais.svg);}
.ListingItem.skate {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/skate.svg);}
.ListingItem.surf {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/surf.svg);}
.ListingItem.taekwondo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/taekwondo.svg);}
.ListingItem.tenisdemesa {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/tenis_de_mesa.svg);}
.ListingItem.tenis {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/tenis.svg);}
.ListingItem.tiroaoarco {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/tiro_com_arco.svg);}
.ListingItem.tiroesportivo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/tiro_esportivo.svg);}
.ListingItem.triatlo {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/triatlo.svg);}
.ListingItem.vela {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/vela.svg);}
.ListingItem.volei {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/volei.svg);}
.ListingItem.voleidepraia {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../icons/volei_de_praia.svg);}

.LiveCircleHolder {
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.LiveCircle {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    width: 15px;
    height: 15px;
}

.LiveCircle:before {
    content: "";
    position: relative;
    display: block;
    width: 200%;
    height: 200%;
    left: -45%;
    top: -45%;
    box-sizing: border-box;
    border-radius: 45px;
    background-color: red;
    animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.LiveCircle:after {
    content: "";
    position: absolute;
    display: block;
    left: 6%;
    top: 6%;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50px;
    animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.22);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
  